title Nguyễn Thành Đạt - Developer
meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
meta(name='keywords', content='Nguyễn Thành Đạt - Developer')
meta(name='description', content='Là một người hoạt bát, cần cù và chịu khó tìm tòi')
meta(name='format-detection', content='telephone=no')
// Favicon
link(rel='shortcut icon' type='image/x-icon' href="https://statics.vntrip.vn/images/icons/vntrip_favicon.ico" )
link(rel="stylesheet" href="css/styles.css")



